body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resposta {
    margin-top: 20px;
    font-weight: bold;
}
